# Exclude source files
src/**
*.ts
!*.d.ts
tsconfig.json
*.map
esbuild.js

# Exclude dev files & node_modules (bundled)
node_modules/**
.vscode/**
.vscode-test/**
.gitignore
package-lock.json
ferrotex.vsix
out/**

# Keep dist
!dist/**
